USE [master]
GO
/****** Object:  Database [handover_system]    Script Date: 03/02/2023 08:55:47 ******/
CREATE DATABASE [handover_system] ON  PRIMARY 
( NAME = N'handover_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\handover_system.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'handover_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\handover_system_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [handover_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [handover_system]
GO
/****** Object:  Table [dbo].[user_info]    Script Date: 03/02/2023 08:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_info](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_POLICE_NUMBER] [varchar](10) NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[USER_PASSWORD] [varchar](100) NOT NULL,
 CONSTRAINT [PK_user_info] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'警号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user_info', @level2type=N'COLUMN',@level2name=N'USER_POLICE_NUMBER'
GO
SET IDENTITY_INSERT [dbo].[user_info] ON
INSERT [dbo].[user_info] ([ID], [USER_POLICE_NUMBER], [USER_NAME], [USER_PASSWORD]) VALUES (1, N'000001', N'李四', N'7488E331B8B64E5794DA3FA4EB10AD5D')
INSERT [dbo].[user_info] ([ID], [USER_POLICE_NUMBER], [USER_NAME], [USER_PASSWORD]) VALUES (2, N'000002', N'张三', N'7488E331B8B64E5794DA3FA4EB10AD5D')
INSERT [dbo].[user_info] ([ID], [USER_POLICE_NUMBER], [USER_NAME], [USER_PASSWORD]) VALUES (3, N'000003', N'王五', N'7488E331B8B64E5794DA3FA4EB10AD5D')
SET IDENTITY_INSERT [dbo].[user_info] OFF
/****** Object:  Table [dbo].[notices]    Script Date: 03/02/2023 08:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOTICE_TITLE] [nvarchar](200) NOT NULL,
	[NOTICE_CONTENT] [nvarchar](max) NOT NULL,
	[NOTICE_INITIATOR] [varchar](20) NOT NULL,
	[NOTICE_CREATETIME] [datetime] NOT NULL,
	[NOTICE_STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_notices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'公告发起人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'notices', @level2type=N'COLUMN',@level2name=N'NOTICE_INITIATOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通告创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'notices', @level2type=N'COLUMN',@level2name=N'NOTICE_CREATETIME'
GO
SET IDENTITY_INSERT [dbo].[notices] ON
INSERT [dbo].[notices] ([ID], [NOTICE_TITLE], [NOTICE_CONTENT], [NOTICE_INITIATOR], [NOTICE_CREATETIME], [NOTICE_STATUS]) VALUES (1, N'123', N'通告测试123', N'李四', CAST(0x0000AFA500981E94 AS DateTime), 1)
INSERT [dbo].[notices] ([ID], [NOTICE_TITLE], [NOTICE_CONTENT], [NOTICE_INITIATOR], [NOTICE_CREATETIME], [NOTICE_STATUS]) VALUES (2, N'''通告测试1''', N'''通告测试1''', N'张三', CAST(0x0000AFA5009B14C8 AS DateTime), 1)
INSERT [dbo].[notices] ([ID], [NOTICE_TITLE], [NOTICE_CONTENT], [NOTICE_INITIATOR], [NOTICE_CREATETIME], [NOTICE_STATUS]) VALUES (3, N'通告测试2', N'通告测试2', N'张三', CAST(0x0000AF9C009BD624 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[notices] OFF
/****** Object:  Table [dbo].[items]    Script Date: 03/02/2023 08:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HANDOVER_TYPE] [varchar](20) NOT NULL,
	[HANDOVER_CONTENT] [varchar](max) NOT NULL,
	[HANDOVER_PRIORITY] [varchar](5) NOT NULL,
	[HANDOVER_INITIATOR] [varchar](20) NOT NULL,
	[HANDOVER_RECIPIENT] [varchar](20) NOT NULL,
	[HANDOVER_CREATETIME] [datetime] NOT NULL,
	[HANDOVER_STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'事项类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'HANDOVER_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'交接内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'HANDOVER_CONTENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'优先级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'HANDOVER_PRIORITY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发起人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'HANDOVER_INITIATOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接收人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'HANDOVER_RECIPIENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'完成状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'HANDOVER_STATUS'
GO
SET IDENTITY_INSERT [dbo].[items] ON
INSERT [dbo].[items] ([ID], [HANDOVER_TYPE], [HANDOVER_CONTENT], [HANDOVER_PRIORITY], [HANDOVER_INITIATOR], [HANDOVER_RECIPIENT], [HANDOVER_CREATETIME], [HANDOVER_STATUS]) VALUES (1, N'重点警情', N'1', N'0', N'发起人', N'接收人', CAST(0x0000AFA800EBAED8 AS DateTime), 1)
INSERT [dbo].[items] ([ID], [HANDOVER_TYPE], [HANDOVER_CONTENT], [HANDOVER_PRIORITY], [HANDOVER_INITIATOR], [HANDOVER_RECIPIENT], [HANDOVER_CREATETIME], [HANDOVER_STATUS]) VALUES (2, N'指令单', N'2', N'0', N'发起人', N'接收人', CAST(0x0000AFA800EBAED8 AS DateTime), 0)
INSERT [dbo].[items] ([ID], [HANDOVER_TYPE], [HANDOVER_CONTENT], [HANDOVER_PRIORITY], [HANDOVER_INITIATOR], [HANDOVER_RECIPIENT], [HANDOVER_CREATETIME], [HANDOVER_STATUS]) VALUES (3, N'二号电', N'3', N'0', N'发起人', N'接收人', CAST(0x0000AFA800EBAED8 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[items] OFF
/****** Object:  Default [DF_notices_NOTICE_STATUS]    Script Date: 03/02/2023 08:55:48 ******/
ALTER TABLE [dbo].[notices] ADD  CONSTRAINT [DF_notices_NOTICE_STATUS]  DEFAULT ((0)) FOR [NOTICE_STATUS]
GO
/****** Object:  Default [DF_items_HANDOVER_CREATETIME]    Script Date: 03/02/2023 08:55:48 ******/
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_items_HANDOVER_CREATETIME]  DEFAULT (getdate()) FOR [HANDOVER_CREATETIME]
GO
/****** Object:  Default [DF_items_HANDOVER_STATUS]    Script Date: 03/02/2023 08:55:48 ******/
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_items_HANDOVER_STATUS]  DEFAULT ((0)) FOR [HANDOVER_STATUS]
GO
